<link rel="stylesheet" href="./css/footer.css">
<link rel="stylesheet" href="/css/all.css">
<link rel="stylesheet" href="/css/query.css">
<footer id="footer">
    <h2>Restaurant Website &copy; 2022, All Rights Reserved.</h2>
</footer>